<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <link rel=" stylesheet" href="style.css">
</head>

<body>
    <div id="header">
        <span>{{loggedUser}}</span>
        <span style="display: {{displayLogout}}"><a href="logout">Logout</a></span>
        <span style="display: {{displayLogin}}"><a href="login">Login</a></span>
    </div>
    <div id="timer">
        <div>Time left</div>
        <div class="time">{{standaloneModeDuration}}</div>
    </div>
    <div id="timer">
        <div>Opened</div>
        <div class="time">{{standaloneModeOpened}}</div>
    </div>

    <ul class="message">{{messages}}</ul>

    <div style="display: {{emlaDisplay}}">
        Running Emla session Id: {{sessionId}}<br />
    </div>

    <p>
        <a href="setAuthentication">Set password</a><br />
        <br />
        <a href="standalone">Settings</a><br />
        <br />
        <a href="lockee">Lockee</a><br />
        <br />
    </p>

</body>

</html>
