<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="header">
        <span><a href=" /">&lt; Back</a></span>
        <span>Lockee</span>
        <span>&nbsp;</span>
    </div>

    <form method="POST" action="/open">
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
            <span></span>
            <input type="submit" value="Open" />
            <span></span>
        </div>
    </form>

    <form method="POST" action="/setLockee">
        <div>
            <span>Manually locked</span>
            <label class="switch">
                <input type="checkbox" name="isStandaloneModeLocked" id="isStandaloneModeLocked"
                    {{isStandaloneModeLocked}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span>Hidden timer</span>
            <label class="switch">
                <input type="checkbox" name="isStandaloneModeHiddenTimer" id="isStandaloneModeHiddenTimer"
                    {{isStandaloneModeHiddenTimer}}>
                <span class="slider"></span>
            </label>
        </div>
        <div class="title">
            <span>Add time</span>
        </div>
        <div>
            <span>Fixed time</span>
            <input type="text" id="standaloneModeAddTime" name="standaloneModeAddTime" />
        </div>
        <div>
            <span>Random, from</span>
            <input type="text" id="standaloneModeAddRandomTimeFrom" name="standaloneModeAddRandomTimeFrom" />
        </div>
        <div>
            <span>To</span>
            <input type="text" id="standaloneModeAddRandomTimeTo" name="standaloneModeAddRandomTimeTo" />
        </div>
        <div>
            <span class="comment">
                Time syntax : n(M/H/D/W)<br />
                Example : 1W 2D 30M
            </span>
        </div>
        <div class="title">
            <span>Lockee notifications</span>
        </div>
        <div>
            <span>Notifications email</span>
            <input name="standaloneNotificationsEmailLockee" id="standaloneNotificationsEmailLockee"
                value="{{standaloneNotificationsEmailLockee}}" />
        </div>
        <div>
            <span></span>
            <input type="submit" />
            <span></span>
        </div>
    </form>
</body>

</html>
