<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="header">
        <span><a href=" /">&lt; Back</a></span>
        <span>Login</span>
        <span>&nbsp;</span>
    </div>
    <br />
    <form action="/doLogin" method="POST">
        <div>
            <span></span>
            <input type="text" name="username" placeholder="username" />
            <span></span>
        </div>
        <div>
            <span></span>
            <input type="password" name="password" placeholder="password" />
            <span></span>
        </div>
        <div></div>
        <div>
            <span></span>
            <input type="submit" value="login" />
            <span></span>
        </div>
        <input type="hidden" name="redirect" value="{{redirect}}" /><br />
    </form>
</body>

</html>
