<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="/">&lt; Home</a><br />
    <br />
    Running session Id: {{sessionId}}<br />
    Is reclaimed: {{isReclaimed}}<br />
    Email : {{standaloneNotificationsEmail}}<br />
    Standalone: {{isStandaloneMode}}<br />
    Standalone locked: {{isStandaloneModeLocked}}</br />
    Standalone duration: {{standaloneModeDurationDebug}}<br />
    Locked: {{locked}}<br />
    Last update: {{lastUpdate}}<br />
    Holder username: {{holderUsername}}<br />
    Holder password: {{holderPassword}}<br />
    Lockee username: {{lockeeUsername}}<br />
    Lockee password: {{lockeePassword}}<br />
    Last Login: {{lastLogin}}<br />
    Last time added: {{lastTimeAdded}}<br />
    Last time added random: {{lastTimeAddedRandom}}<br />

    <p>
        Automatic unlock: {{isStandaloneModeAutomaticUnlock}}<br />
        Risk at opening (%): {{standaloneModeOpeningRisk}}<br />
        Increasing period (min): {{standaloneModeOpeningRiskIncrPeriod}}<br />
        Actual risk: {{standaloneModeOpeningActualRisk}}<br />
        Risk when trying (%): {{standaloneModeTryingRisk}}<br />
        Fixed time:{{standaloneModeRiskTime}}<br />
        Random, from: {{standaloneModeRiskRandomTimeFrom}}<br />
        To: {{standaloneModeRiskRandomTimeTo}}<br />
    </p>

    <p>
        Lockee notifications :<br>
        Lockee Email: {{standaloneNotificationsEmailLockee}}<br />
        Timer about to expire: {{notifyLockeeTimerIsAboutToExpire}}<br />
        Expired timer: {{notifyLockeeExpiredTimer}}<br />
        Added time: {{notifyLockeeTimeAdded}} <br />
    </p>

</body>

</html>
