<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="header">
        <span><a href=" /">&lt; Back</a></span>
        <span>Settings</span>
        <span><a href="logout">Logout</a></span>
    </div>
    <div id="timer">
        <div>Time left</div>
        <div class="time">{{standaloneModeDuration}}</div>
    </div>

    <form method="POST" action="/setStandalone">
        <div>
            <span>Standalone mode</span>
            <label class="switch">
                <input type="checkbox" name="isStandaloneMode" id="isStandaloneMode" {{isStandaloneMode}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span>Manually locked<br /><span class="comment">Will be switched off at the end of a timer</span></span>
            <label class="switch">
                <input type="checkbox" name="isStandaloneModeLocked" id="isStandaloneModeLocked"
                    {{isStandaloneModeLocked}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span>Hidden timer</span>
            <label class="switch">
                <input type="checkbox" name="isStandaloneModeHiddenTimer" id="isStandaloneModeHiddenTimer"
                    {{isStandaloneModeHiddenTimer}}>
                <span class="slider"></span>
            </label>
        </div>

        <div class="title">
            <span>Add time</span>
        </div>
        <div>
            <span>Fixed time</span>
            <input type="text" id="standaloneModeAddTime" name="standaloneModeAddTime" />
        </div>
        <div>
            <span>Random, from</span>
            <input type="text" id="standaloneModeAddRandomTimeFrom" name="standaloneModeAddRandomTimeFrom" />
        </div>
        <div>
            <span>To</span>
            <input type="text" id="standaloneModeAddRandomTimeTo" name="standaloneModeAddRandomTimeTo" />
        </div>
        <div>
            <span class="comment">
                Time syntax : n(M/H/D/W)<br />
                Example : 1W 2D 30M
            </span>
        </div>

        <div class="title">
            <span>Opening</span>
        </div>
        <div>
            <span>Automatic unlock</span>
            <label class="switch">
                <input type="checkbox" name="isStandaloneModeAutomaticUnlock" id="isStandaloneModeAutomaticUnlock"
                    {{isStandaloneModeAutomaticUnlock}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span>Risk at opening (%)</span>
            <input type="text" id="standaloneModeOpeningRisk" name="standaloneModeOpeningRisk"
                value="{{standaloneModeOpeningRisk}}" />
        </div>
        <div>
            <span>Increasing period (min)</span>
            <input type="text" id="standaloneModeOpeningRiskIncrPeriod" name="standaloneModeOpeningRiskIncrPeriod"
                value="{{standaloneModeOpeningRiskIncrPeriod}}" />
        </div>
        <div>
            <span>Risk when trying (%)</span>
            <input type="text" id="standaloneModeTryingRisk" name="standaloneModeTryingRisk"
                value="{{standaloneModeTryingRisk}}" />
        </div>
        <div>
            <span>Fixed time</span>
            <input type="text" id="standaloneModeRiskTime" name="standaloneModeRiskTime"
                value="{{standaloneModeRiskTime}}" />
        </div>
        <div>
            <span>Random, from</span>
            <input type="text" id="standaloneModeRiskRandomTimeFrom" name="standaloneModeRiskRandomTimeFrom"
                value="{{standaloneModeRiskRandomTimeFrom}}" />
        </div>
        <div>
            <span>To</span>
            <input type="text" id="standaloneModeRiskRandomTimeTo" name="standaloneModeRiskRandomTimeTo"
                value="{{standaloneModeRiskRandomTimeTo}}" />
        </div>


        <div class="title">
            <span>Holder notifications</span>
        </div>
        <div>
            <span>Notifications email</span>
            <input name="emailNotifications" id="emailNotifications" value="{{emailNotifications}}" />
        </div>

        <div class="title">
            <span>Lockee notifications</span>
        </div>
        <div>
            <span>Timer about to expire</span>
            <label class="switch">
                <input type="checkbox" name="notifyLockeeTimerIsAboutToExpire" id="notifyLockeeTimerIsAboutToExpire"
                    {{notifyLockeeTimerIsAboutToExpire}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span>Expired timer</span>
            <label class="switch">
                <input type="checkbox" name="notifyLockeeExpiredTimer" id="notifyLockeeExpiredTimer"
                    {{notifyLockeeExpiredTimer}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span>Added time</span>
            <label class="switch">
                <input type="checkbox" name="notifyLockeeTimeAdded" id="notifyLockeeTimeAdded"
                    {{notifyLockeeTimeAdded}}>
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <span></span>
            <input type="submit" />
            <span></span>
        </div>
    </form>
</body>

</html>
