@media handheld {
  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

body {
  margin: 2vw;
}

body, input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vw;
}

A {
    text-decoration: none;
    font-size: 4vw;
}

#header {
  padding: 0.5vw 1vw;
  align-items: center;
  background: #d0d0d0;
  display: flex;
  justify-content: space-between;
}

#timer {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content:center;
  padding: 3vw;
}

#timer div {
  margin: auto;

}
#timer div.time {
  font-size: 3vw;
}

.message {
    color: red;
}

form {
  width: 100%;
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vw;
  width: 100%;
}

form div.title {
  background: #f0f0f0;
  border-top: 1px solid black;
  margin-top: 2vw;
}

form div span{
  justify-self: stretch;
}

form div input {
  justify-self: stretch;
  width: 50%;
}

form div input[type=submit] {
  border-radius: 2vw;
  height: 100%;
}


.comment {
  font-size: 3vw;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 11vw;
  height: 6.5vw;
  margin: auto 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 6.5vw;
}

.slider:before {
  position: absolute;
  content: "";
  height: 5vw;
  width: 5vw;
  left: 0.6vw;
  bottom: 0.8vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(4.9vw);
  -ms-transform: translateX(4.9vw);
  transform: translateX(4.9vw);
}
